body {
    background-color: #007A33;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    gap: 28px;
    box-sizing: border-box;
    padding: 24px;
}

